body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
  color: #66BFBF;
}
h2 , h3{
  color: #66BFBF
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  padding: 0 10px;
  text-decoration: none;
  transition-duration: .4s;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border: 0;
  border-top: 5px dotted #7fa998 ;
  width: 8%;
  margin-bottom: 60px;
}
.fixed{
  background-color: #EAF6F6;
  position: fixed;
  width: 100%;
font-family: 'Merriweather Sans', sans-serif;
  color: #66BFBF;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 100px;
  padding-top: 30px;
}
.profile{
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row img{
  width:  25%;
  float: left;
  margin-right: 30px;
}
.skillp{
  height: 150px;
}
.top{
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  margin-top: 0;
  color: #66BFBF;
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 60px;
  position: relative;
  margin-bottom: 30px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 70px;
}
.bottom-cloud{
  position: absolute;
}
.pp{
  border-radius: 100%;
  width: 200px;
}
.skillp{
  border-radius: 100%;
  width: 300px;

}
.treka{
  border-radius: 100%;
  width: 300px
}
.bottom{
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #EAF6F6;
}

.btn{
  position: relative;
  top: 20px;
  color: #EAF6F6;
  background-color: #66BFBF;
  border: 2px solid #66BFBF;
  padding: 10px;
  border-radius: 12px;
 text-decoration: none;
 transition-duration: .5s;
 cursor: pointer;
}

.btn:hover{
  color: #66BFBF ;
  background-color: #EAF6F6;
}
